{% extends "header.html" %}

{% block content %}

<div class="container">


  <!-- price Card -->
  <div class="card p-2">
    <div class="row">
      <div class="col-8">Premix Fuel Price</div>
      <div class="col-4">Gh₵<b style='color:green' id="price">{{price.price}}</b> &#8593; </div>
    </div>
  </div>
</div>


<div class="container col-lg-6 mb-3 mt-5">
  <div class=" text-center p-3" style="box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;">

    <form method="post">
      {% csrf_token %}
      <!-- 2 column grid layout with text inputs for the first and last names -->
      <div class="row mb-4 align-items-center">
        <div class="col">
          <div class="input-group">
            <div class="input-group-text">Quantity</div>
            {{order_form.quantity}}
          </div>
        </div>
        <div class="col">
          <div class="input-group">
            <div class="input-group-text">Gh₵</div>
            {{order_form.price}}
          </div>
        </div>
      </div>

      <!-- {{order_form.station}} -->
      <div class="card mb-3" style="max-width: 700px; ">
        <div class="row">
          <div class="col-5">
            <img src="{{station.seller.profile_picture.url}}" class="rounded-start" width="200" height="200" />
          </div>
          <div class="col-7">
            <div class="card-body">
              <h5 class="card-title">Station Name: {{station.name}}</h5>
              <p class="card-text">
                Address: {{station.address}}
              </p>
              <p class="card-text">
                <small class="text-muted">Operator Name: {{station.seller.user.first_name|title}}
                  {{station.seller.user.last_name|title}}</small>
              </p>
            </div>
          </div>
        </div>
        <a href="{% url 'station-detail' station.id station.name%}" class="btn btn-secondary">View Station</a>
        <!-- <a href="" class="stretched-link"></a> -->

      </div>



      <!-- Submit button -->
      <button type="submit" class="btn btn-dark btn-block mt-4 col-7 mx-auto rounded-pill">Buy</button>


    </form>
  </div>
</div>
{% endblock content %}
{% block script %}
<!-- <script>
  setTimeout("location.href = 'https://www.quackit.com';",1500);
</script> -->
<script type="text/javascript">
  var qty = document.getElementById('id_quantity');
  var price = document.getElementById('id_price');
  var oil_price = parseInt("{{price.price}}")
  qty.addEventListener('input', function () {
    calculator = this.value * oil_price
    price.value = calculator;
  });
</script>


{% endblock script %}