{% extends "header.html" %}


{% block content %}

      <div class="container col-lg-8">


      <!-- price Card -->
      <div class="">
        <div class="card p-2 mt-2 mb-2">
          <div class="row">
             <div class="col-8">Premix Fuel Price</div>
             <div class="col-4">GH₵ <b style='color:green'>{{price.price}}</b> &#8593; </div>
           </div>
               </div>
        </div>

        {% for station in stations  %}
      
        <div class="card mb-3">
          <div class="row">
            <div class="col-5">
              <img src="{{station.seller.profile_picture.url}}" style="height: 100%;" alt="Trendy Pants and Shoes" class="img-fluid rounded-start">
            </div>
            <div class="col-7">
              <div class="card-body">
                <h5 class="card-title">{{station.name}}</h5>
                <p class="card-text">
                  {{station.address}}
                </p>
                <p class="card-text">
                  {{station.seller.user.username}}
                </p>
              </div>
              <a href="{% url 'order-oil' station.id %}" class="stretched-link"></a>
            </div>
          </div>
        </div>
            
        {% endfor %}



<!-- <a href="" class="btn btn-primary mt-4 col-8 rounded-pill " tabindex="-1" role="button" aria-disabled="true">Primary link</a> -->
</div>
{% endblock content %}

{% block script %}

{% endblock script %}
