{% extends "header.html" %}

{% block content %}

<div class="container">

 
  <!-- price Card -->
  <div class="card p-2">
    <div class="row">
      <div class="col-8">Premix Fuel Price</div>
      <div class="col-4">Gh₵<b style='color:green' id="price">{{price.price}}</b> &#8593; </div>
    </div>
  </div>
</div>



<div class="container col-lg-6 mb-3 mt-5">
  <div class=" text-center p-3" style="box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;">


    <!-- 2 column grid layout with text inputs for the first and last names -->
    <h5 class="mt-2">Order Details</h5>
    <table class="table align-middle mb-0 bg-white">
      <tbody>
        <tr>
          <td>
            <p class="text-muted mb-0">Order ID</p>
          </td>
          <td>
            <p class="fw-normal mb-1">{{order.order_id}}</p>
          </td>
        </tr>
        <tr>
          <td>
            <p class="text-muted mb-0">Cutomer Email</p>
          </td>
          <td>
            <p class="fw-normal mb-1">{{order.customer.user.email}}</p>
          </td>
        </tr>
        <tr>
          <td>
            <p class="text-muted mb-0">Quantity</p>
          </td>
          <td>
            <p class="fw-normal mb-1">{{order.quantity}} gallons</p>
          </td>
        </tr>
        <tr>
          <td>
            <p class="text-muted mb-0">Price</p>
          </td>
          <td>
            <p class="fw-normal mb-1">GHS {{order.price}}</p>
          </td>
        </tr>
        <tr>
          <td>
            <p class="text-muted mb-0">Delivery</p>
          </td>
          <td>
            {% if order.delivery %}
            <p class="fw-normal mb-1">Yes</p>
            {% else %}
            <p class="fw-normal mb-1">No</p>
            {% endif %}
          </td>
        </tr>

      </tbody>
    </table>
    <h5 class="mt-2">Station Details</h5>
    <div class="card mb-3" style="max-width: 700px; ">
      <div class="row">
        <div class="col-5">
          <img src="{{order.station.seller.profile_picture.url}}" class="rounded-start" width="200" height="200" />
        </div>
        <div class="col-7">
          <div class="card-body">
            <h5 class="card-title">Station Name: {{order.station.name}}</h5>
            <p class="card-text">
              Address: {{order.station.address}}
            </p>
            <p class="card-text">
              <small class="text-muted">Operator Name: {{order.station.seller.user.first_name|title}}
                {{order.station.seller.user.last_name|title}}</small>
            </p>
          </div>
        </div>
      </div>

    </div>


    <!-- Checkbox -->
    <p>
      <input type="checkbox">
      <a class="text-primary" href="">I agree to the terms of agreement.</a>

    </p>
    <!-- Submit button -->
    <script src="https://js.paystack.co/v1/inline.js"></script>

    <a onclick="payWithPaystack()" class="btn btn-dark btn-block m-4 col-7 mx-auto rounded-pill">Pay</a>
  </div>

</div>
</div>
{% endblock content %}
{% block script %}
<!-- <script>
  setTimeout("location.href = 'https://www.quackit.com';",1500);
</script> -->


<script>
  var paymentForm = document.getElementById('paymentForm');
  paymentForm.addEventListener('submit', payWithPaystack, false);
  function payWithPaystack() {
    var handler = PaystackPop.setup({
      key: 'pk_test_ddebd20baceafa842223b4807d33ea6b5dfb2b51', // Replace with your public key
      email: "{{order.customer.user.email}}",
      amount: parseInt("{{order.price}}") * 100, // the amount value is multiplied by 100 to convert to the lowest currency unit
      currency: 'GHS', // Use GHS for Ghana Cedis or USD for US Dollars
      ref: '' + Math.floor(Math.random() * 100000000 + 1), // Replace with a reference you generated
      callback: function (response) {
        //this happens after the payment is completed successfully
        var reference = response.reference;
        console.log(`${location.origin}/orders/paid/'{{order.id}}'/${reference}`)
        window.location = `${location.origin}/orders/paid/{{order.order_id}}/${reference}`

        //$.ajax({
        //url: `/paid/'{{order.id}}'/${reference}`,
        //method: 'get',
        //success: function (response) {
        // the transaction status is in response.data.status
        //}
        //});
        //alert('Payment complete! Reference: ' + reference);
        // Make an AJAX call to your server with the reference to verify the transaction
      },
      //onClose: function() {
      //alert('Transaction was not completed, window closed.');
      //},
    });
    handler.openIframe();
  }
</script>


{% endblock script %}