{% extends "header.html" %}

{% block style %}

{% endblock style %}

{% block title %}
Update Customer
{% endblock title %}


{% block content %}

<div class="container col-lg-6 mb-3 mt-5">
  <div class=" text-center p-3" style="box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;">

    <form method="Post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row mb-4">
        <div class="col">
          <div class="form-outline">
            {{user_forms.username}}
            <label class="form-label" for="id_username">Username</label>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            {{user_forms.email}}
            <label class="form-label" for="id_email">Email</label>
          </div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col">
          <div class="form-outline">
            {{user_forms.first_name}}
            <label class="form-label" for="id_first_name">First name</label>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            {{user_forms.last_name}}
            <label class="form-label" for="id_last_name">Last name</label>
          </div>
        </div>
      </div>
      <div class="form-outline">
        {{customer_forms.phone}}
        <label class="form-label" for="id_phone">Phone</label>
      </div>
      <div class="row mb-4">
        <div class="col">
          <div class="form-outline">
            {{customer_forms.profile_picture}}
            <label class="form-label" for="customFile">Passport Picture</label>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <img id="blah"
              src="{{customer.profile_picture.url}}"
              class="" width="200" height="200" />
          </div>
        </div>
      </div>

     
      <!-- Submit button -->
      <button type="submit" class="btn btn-dark btn-block m-4 col-7 rounded-pill">Update</button>


    </form>

</div>


{% endblock content %}

{% block script %}
<script>
  document.getElementById("id_profile_picture").classList.add("form-control")
  document.getElementById("id_username").classList.add("form-control")
</script>
<script>

  id_profile_picture.onchange = evt => {
    const [file] = id_profile_picture.files
    if (file) {
      blah.style.display = ""
      blah.src = URL.createObjectURL(file)
    }
  }
</script>


{% endblock script %}