{% extends "header.html" %}

{% block style %}
<style>
  #map {
    width: 100%;
    height: 700px;
  }
</style>
{% endblock style %}

{% block title %}
Admin Dashboard
{% endblock title %}


{% block content %}
<!-- <div class="row justify-content-center">
  <div class="card text-white bg-primary m-3 " style="max-width: 18rem;">
    <div class="card-header">Stations</div>
    <div class="card-body">
      <h5 class="card-title">{{stations_count}}</h5>
    </div>
  </div>
  
  <div class="card text-white bg-success m-3" style="max-width: 18rem;">
    <div class="card-header">Customers</div>
    <div class="card-body">
      <h5 class="card-title text-center">{{customers_count}}</h5>
    </div> 
  </div>
  
  <div class="card bg-warning m-3" style="max-width: 18rem;">
    <div class="card-header">Orders</div>
    <div class="card-body">
      <h5 class="card-title">{{orders_count}}</h5>
    </div>
  </div>
  
</div> -->

<div class="row">
  <div class="col-3">
    <div class="nav  flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link  active" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab"
        aria-controls="v-pills-settings" aria-selected="false">Map</a>
        <a class="nav-link " id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
        aria-controls="v-pills-profile" aria-selected="false">Stations</a>
        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
        aria-controls="v-pills-messages" aria-selected="false">Customers</a>
        <a class="nav-link " id="v-pills-orders-tab" data-toggle="pill" href="#v-pills-orders" role="tab"
          aria-controls="v-pills-orders" aria-selected="true">Orders</a>
    </div>
  </div>

  <!-- Maps Tab -->
  <div class="col-9">
    <div class="tab-content" id="v-pills-tabContent">
      
      <div class="tab-pane fade" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
      </div>
      <!-- Maps Tab ends here -->


      <!-- Stations Start here -->
      <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
        <div class="" style="overflow: auto;max-height: 100vh;">
          <div class="container col-lg-8">
            <div class="row mt-3 mb-3 ms-2">
              <a href="{% url 'register-seller' %}" class="btn btn-dark rounded-pill  col-4">
                Add Station
              </a>
              <!-- <div class="input-group col-8 ">
                  <input type="search" id="search-input" class="form-control rounded" placeholder="Search"
                    aria-label="Search" aria-describedby="search-addon" />
                  <button type="button" id="search-button" class="btn btn-outline-dark">search</button>
                </div> -->
            </div>
            {% for station in stations %}

            <div class="card mb-3" style="max-width: 540px; ">
              <div class="row">
                <div class="col-5">
                  <img src="{{station.seller.profile_picture.url}}" class="img-fluid rounded-start" />
                </div>
                <div class="col-7">
                  <div class="card-body">
                    <h5 class="card-title">{{station.name}}</h5>
                    <p class="card-text">
                      {{station.address}}
                    </p>
                    <p class="card-text">
                      <small class="text-muted">{{station.seller.user.username}}</small>
                    </p>
                  </div>
                </div>
              </div>
              <a href="{% url 'station-detail' station.id %}" class="stretched-link"></a>

            </div>
            {% endfor %}

          </div>
        </div>
      </div>
      <!-- Station ends Here -->

      <!-- Customer Tab -->
      <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
        <div class="container col-lg-10">
          <div class="row mt-3 mb-3 ms-2">
            <a href="{% url 'register-customer' %}" class="btn btn-dark rounded-pill   col-3">
              Add Customer
            </a>
            <!-- <div class="input-group col-9">
                <input type="search" id="search-input" class="form-control rounded" placeholder="Search"
                  aria-label="Search" aria-describedby="search-addon" />
                <button type="button" id="search-button" class="btn btn-outline-dark">search</button>
              </div> -->
          </div>

          {% for customer in customers %}

          <div class="card mb-3" style="max-width: 540px; ">
            <div class="row">
              <div class="col-5">
                <img src="{{customer.customer.profile_picture.url}}" alt="Username" class="img-fluid rounded-start" />
              </div>
              <div class="col-7">
                <div class="card-body">
                  <h5 class="card-title">{{customer.username}}</h5>
                  <p class="card-text">
                    User ID
                  </p>
                  <p class="card-text">
                    <small class="text-muted"></small>
                  </p>
                </div>
              </div>
            </div>
            <a href="{% url 'customer-detail' customer.id %}" class="stretched-link"></a>

          </div>
          {% endfor %}
        </div>
      </div>
      <!-- Customers Tab ends here -->

      <!-- OverView Starts here -->
      <div class="tab-pane fade show active" id="v-pills-settings" role="tabpanel"
        aria-labelledby="v-pills-settings-tab">
        <div id='map'></div>
      </div>

      <div class="tab-pane fade show" id="v-pills-orders" role="tabpanel"
        aria-labelledby="v-pills-orders-tab">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Order Id</th>
              <th scope="col">Quantity</th>
              <th scope="col">Price</th>
              <th scope="col">Received</th>
              <th scope="col">Delivered</th>
              <th scope="col">Paid</th>
              <th scope="col">Ordered Time</th>
              <th scope="col">Delivered Time</th>
              <th scope="col">Received Time</th>
              <th scope="col">Station </th>
              <th scope="col">Customer</th>
            </tr>
          </thead>
          <tbody>
            {% for order in orders  %}              
            <tr>
              <td>{{order.order_id}}</td>
              <td>{{order.quantity}}</td>
              <td>{{order.price}}</td>
              <td>{{order.received}}</td>
              <td>{{order.delivered}}</td>
              <td>{{order.paid}}</td>
              <td>{{order.ordered_time}}</td>
              <td>{{order.delivered_time}}</td>
              <td>{{order.received_time}}</td>
              <td>{{order.station.name}}</td>
              <td>{{order.customer.user.username}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- Overview Ends Here -->
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<style>
  .container{
    width: 100%;
  }
</style>
{% endblock content %}


{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoiZGphbmdvdGVzdDQ1IiwiYSI6ImNsMnNja3J0ejA1YXYzY2xtdnBjbW5qYXIifQ.PS1zPRb01DPmyA1B4ca5Ug';
  var map = new mapboxgl.Map({
    container: 'map',
    style : 'mapbox://styles/mapbox/satellite-v9',

    center: [-0.2244118106051585, 5.733766535843727],
    zoom: 10
  });
  map.addControl(new mapboxgl.NavigationControl());

  $.ajax({
    type: 'GET',
    url: `${location.origin}/station/get-stations-coordinates/`,
    success: function (response) {
      const locations = response.data;
      console.log(locations)
      console.log(locations[1].name)
      for (i = 0; i < locations.length; i++) {
        lng = locations[i].geolocation_longitude
        lat = locations[i].geolocation_latitude
        var popup = new mapboxgl.Popup()
        .setHTML(`${locations[i].name}`)
        .addTo(map)
        const marker = new mapboxgl.Marker({ "color": "#b40219" })
          .setLngLat([lng, lat])
          .addTo(map)
          .setPopup(popup);;
          
      }

    },
    error: function (error) {
      console.log("error", error)
    }

  })


</script>
{% endblock script %}