{% extends "header.html" %}



{% block content %}

<h2>Operator Orders</h2>
<h2>Fuel quantity : {{oil_quantity}} Gallons</h2>
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button"
      role="tab" aria-controls="pills-home" aria-selected="true">Unprocessed</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button"
      role="tab" aria-controls="pills-profile" aria-selected="false">Processed</button>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">
  <!-- UNProcessed -->
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">

    <div class="container col-lg-6 ">
      <!-- card body starts here -->
      {% for order in unprocessed_orders %}

      <div class=" text-center" style="box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;">
        <div class="card ">
          <table class="table table-sm align-middle mb-0 bg-white">
            <tbody>
              <tr>
                <td>
                  <p class="text-muted mb-0">Order ID</p>
                </td>
                <td>
                  <p class="fw-normal mb-1">{{order.order_id}}</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p class="text-muted mb-0">quantity</p>
                </td>
                <td>
                  <p class="fw-normal mb-1">{{order.quantity}}</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p class="text-muted mb-0">Amount</p>
                </td>
                <td>
                  <p class="fw-normal mb-1">{{order.price}}</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p class="text-muted mb-0">Delivered</p>
                </td>
                <td>
                  <p class="fw-normal mb-1">{{order.delivered}}</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p class="text-muted mb-0">Received</p>
                </td>
                <td>
                  <p class="fw-normal mb-1">{{order.received}}</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p class="text-muted mb-0">Order Time</p>
                </td>
                <td>
                  <p class="fw-normal mb-1">{{order.ordered_time}}</p>
                </td>
              </tr>

            </tbody>
          </table>
          <a href="{% url 'seller-order-detail' order.order_id %}" class="stretched-link"></a>
        </div>

      </div>
      {% endfor %}
      <!-- end here -->
    </div>
  </div>
  <!-- UNProcessed -->

  <!-- Processed -->
  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
    
    <div class="container col-lg-6 ">
      <!-- card body starts here -->
      {% for order in processed_orders %}

      <div class=" text-center" style="box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;">
        <div class="card ">
          <table class="table table-sm align-middle mb-0 bg-white">
            <tbody>
              <tr>
                <td>
                  <p class="text-muted mb-0">Order ID</p>
                </td>
                <td>
                  <p class="fw-normal mb-1">{{order.order_id}}</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p class="text-muted mb-0">quantity</p>
                </td>
                <td>
                  <p class="fw-normal mb-1">{{order.quantity}}</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p class="text-muted mb-0">Amount</p>
                </td>
                <td>
                  <p class="fw-normal mb-1">{{order.price}}</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p class="text-muted mb-0">Delivered</p>
                </td>
                <td>
                  <p class="fw-normal mb-1">{{order.delivered}}</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p class="text-muted mb-0">Received</p>
                </td>
                <td>
                  <p class="fw-normal mb-1">{{order.received}}</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p class="text-muted mb-0">Order Time</p>
                </td>
                <td>
                  <p class="fw-normal mb-1">{{order.ordered_time}}</p>
                </td>
              </tr>

            </tbody>
          </table>
          <a href="{% url 'seller-order-detail' order.order_id %}" class="stretched-link"></a>
        </div>

      </div>
      {% endfor %}
      <!-- end here -->
    </div>
  </div>
</div>

<div class="container col-lg-6">
  <div class="input-group">
    <!-- <input type="search" id="search-input" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" /> -->
    <!-- <button type="button" id="search-button" class="btn btn-outline-primary">search</button> -->
  </div>
</div>
<style>
  .nav-link{
    background-color: #fff;
    color: black;
  }
  
  .active.nav-link{
    background-color: rgb(0, 0, 0) !important;
    color: rgb(255, 255, 255) !important;
  }
</style>
{% endblock content %}

<script type="text/javascript">
  const searchButton = document.getElementById('search-button');
  const searchInput = document.getElementById('search-input');
  searchButton.addEventListener('click', () => {
    const inputValue = searchInput.value;
    alert(inputValue);
  });
</script>